.about {
  background: #fafafa;
  width: 100%;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 80px;
}

.about__title {
  padding-bottom: 10px;
  color: var(--colorBlack);
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.about__desc {
  padding-bottom: 50px;
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.about__cards {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.about__card {
  width: calc(25% - 22.5px);
  display: flex;
  padding: 30px 40px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about__card-img{
    width: 50px;
    height: 45px;
}

.about__card-img svg{
    width: 100%;
    height: 100%;
}

.about__card:hover {
  background: var(--primaryColar);
}

.about__card:hover .about__card-title {
  color: white;
}
.about__card:hover .about__card-desc {
  color: white;
}

.about__card:hover svg path {
  fill: white;
}

@media (max-width:1000px){
    .about__card{
        width: 45%;
    }
}

@media (max-width:500px){
    .about__card{
        width: 95%;
    }
}
